# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==============================
# Ambiente virtual
# ==============================
.venv/
venv/
env/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Dados
# ==============================
*.csv
*.parquet
*.xlsx
*.xls

# ==============================
# Arquivos grandes / temporários
# ==============================
data/
output/
temp/
tmp/

# ==============================
# Credenciais e variáveis
# ==============================
.env
.env.*
.aws/
*.pem
*.key

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Sistema operacional
# ==============================
.DS_Store
Thumbs.db
